# Arquivos e diretórios criados pelo sistema operacional
*.pyc
*~
__pycache__/

# Arquivos de ambiente e configuração
.env
.env.*
*.sqlite3

# Arquivos de log
*.log

# Arquivos estáticos e compilados
/staticfiles/
/static/

# Dependências
# requirements.txt